<!-- Image and text -->
<nav class="navbar navbar-light bg-light d-flex justify-content-center">
  <a class="navbar-brand" href="#">
    <img src="/images/t622Aw3Yrn8EWLcC5tECrHEV-pvBAZDTJBFVBBFqUaI.png" width="30" height="30" class="d-inline-block align-top" alt="Hi">
  </a>
<a class="navbar-brand" href="#"><h1>Hello Maddi</h1></a>
</nav>